@tailwind base;
@tailwind components;
@tailwind utilities;
 
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	
}







::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: #fccf5e;

}

::-webkit-scrollbar-thumb {
	background: #f7b512;
  border-radius: 12px;
}


::-webkit-scrollbar-thumb:hover {
  background: #996e00;
  border-radius: 12px;
	
}




@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 286 100% 21%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input:0, 0%, 70%;
    --ring: 286 100% 21%;
    --radius: 1rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 286 100% 21%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 286 100% 21%;
  }
}



  
 
.ReactModal__Overlay {
	opacity: 0;
	transition: all 400ms ease-in-out;
	translate: 10px 10px 10px 10px;
}

.ReactModal__Overlay--after-open{
	opacity: 1;
	translate: 0px 0px 0px 50px ;
	
}

.ReactModal__Overlay--before-close{
	opacity: 0;
}




.modal-open .rbc-event {
  z-index: 0;
}

.rbc-event{
	border: none !important;
	width: 80% !important;
	margin-top: 5px !important;
	fill-opacity: .5 !important;
	
}

.rbc-background-event {
	display: none !important;
	width: 80% !important;

}

.rbc-day-slot {
	opacity: 0.5 !important;
}

.modal-overlay {
  z-index: 1000;
}

.rbc-event-content{
	border: none !important;
	fill-opacity: 0.5 !important;
	stroke-opacity: 0.5 !important;
	background-blend-mode: soft-light !important;

}

.rbc-event-content.purple {
	background-color: rgba(85, 62, 85, 0.582) !important;


}

.rbc-event-content.green {
	background-color: green;

}
.rbc-event-content.red {
	background-color: red;

}

.rbc-event-content.blue {
	background-color: rgb(82, 94, 126);

}

.rbc-event-content.yellow {
	background-color: yellow;

}

.rbc-event-content.orange {
	background-color: rgba(250, 196, 97, 0.452) !important;
	

}

.rbc-today {
  background-color: #5a748a;
}

.rbc-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}
.rbc-toolbar .rbc-toolbar-label {
  flex-grow: 1;
  padding: 0 10px;
  text-align: center;
}
.rbc-toolbar button {
  color: #373a3c;
  display: inline-block;
  margin: 0;
	
  text-align: center;
  vertical-align: middle;
  background: #5e4c74 ;
  background-image: none;
  border: 1px solid #ccc;
  padding: 0.375rem 1rem;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
}
.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background-color: #4d436e8c !important;
  border-color: #adadad;
}
.rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus {
  color: #373a3c;
  background-color: #4d436e8c !important;
  border-color: #8c8c8c;
}
.rbc-toolbar button:focus {
  color: #373a3c;
  background-color: #4d436e8c !important;
  border-color: #adadad;
}
.rbc-toolbar button:hover {
  color: #373a3c;
  background-color: #4d436e8c !important;
  border-color: #adadad;
}

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap;
}

.rbc-off-range-bg {
  background: #4d436e8c !important;
}

